# PISA 2012 DATA ANALYSIS
## by Steve Choi
---
## Table of Contents
- [Introduction](#intro)
- [Preliminary Wrangling](#wrangle)
 - [Cleaning Data](#cleaning)
 - [Preparing Data](#prep)

<a name='intro'></a>
## Introduction
#### What is PISA?
> PISA (Programme for International Student Assessment) is a worldwide survey to evaluate educational systems by
measuring 15 to 16 years old students' performance on mathematics, science, and reading. The assessments are conducted 
by OECD (Organisation for Economic Co-operation and Development) every three years and are designed to guage how well 
students are prepared for real-life situations in the adult world.

#### PISA 2012 Data
> nearly 480,000 students in 65 countries

<a name='wrangle'></a>
## Preliminary Wrangling

> .

In [33]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [34]:
# read PISA data in chunks
lst = []

my_cols = [0, 1, 4, 12, 18, 19, 45, 46, 47, 49, 50, 52, 53, 411, 501, 502,\
           503, 504, 505, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550]


for chunk in pd.read_csv('data/pisa2012.csv', encoding='ISO-8859-1', index_col=0,\
                         low_memory=False, usecols=my_cols, chunksize=50000):
    lst.append(chunk)
    
df = pd.concat(lst, axis=0)

# clearing memory occupied by lst
del lst

# check
df.head()

,CNT,OECD,ST04Q01,ST08Q01,ST09Q01,ST26Q02,ST26Q03,ST26Q04,ST26Q06,ST26Q07,...,PV1READ,PV2READ,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE
1,Albania,Non-OECD,Female,None,None,No,Yes,No,No,No,...,249.5762,254.3420,406.8496,175.7053,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877
2,Albania,Non-OECD,Female,One or two times,None,Yes,Yes,Yes,Yes,Yes,...,406.2936,349.8975,400.7334,369.7553,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116
3,Albania,Non-OECD,Female,None,None,Yes,Yes,Yes,Yes,Yes,...,401.2100,404.3872,387.7067,431.3938,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643
4,Albania,Non-OECD,Female,None,None,Yes,Yes,Yes,Yes,Yes,...,547.3630,481.4353,461.5776,425.0393,471.9036,438.6796,481.5740,448.9370,474.1141,426.5573
5,Albania,Non-OECD,Female,One or two times,None,Yes,No,Yes,Yes,Yes,...,311.7707,141.7883,293.5015,272.8495,260.1405,361.5628,275.7740,372.7527,403.5248,422.1746

In [35]:
df.shape

(485490, 28)

In [36]:
# rename columns with more descriptive name
df.rename({    'CNT' : 'Country', 
           'ST04Q01' : 'Gender',
           'ST08Q01' : 'Late',
           'ST09Q01' : 'Skip',
           'ST26Q02' : 'Own_room',
           'ST26Q03' : 'Study_place',
           'ST26Q04' : 'Computer',
           'ST26Q06' : 'Internet',
           'ST26Q07' : 'Literature',
           'ST26Q09' : 'Art',
           'ST26Q10' : 'Textbooks'},
           axis='columns', inplace=True
          )

# check
df.head(3)

,Country,OECD,Gender,Late,Skip,Own_room,Study_place,Computer,Internet,Literature,...,PV1READ,PV2READ,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE
1,Albania,Non-OECD,Female,None,None,No,Yes,No,No,No,...,249.5762,254.3420,406.8496,175.7053,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877
2,Albania,Non-OECD,Female,One or two times,None,Yes,Yes,Yes,Yes,Yes,...,406.2936,349.8975,400.7334,369.7553,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116
3,Albania,Non-OECD,Female,None,None,Yes,Yes,Yes,Yes,Yes,...,401.2100,404.3872,387.7067,431.3938,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643

In [37]:
# identify nulls
df.isnull().sum()

Country            0
OECD               0
Gender             0
Late            6347
Skip            6359
Own_room       15797
Study_place    13470
Computer       11613
Internet       12308
Literature     19630
Art            18241
Textbooks      14248
AGE              116
PV1MATH            0
PV2MATH            0
PV3MATH            0
PV4MATH            0
PV5MATH            0
PV1READ            0
PV2READ            0
PV3READ            0
PV4READ            0
PV5READ            0
PV1SCIE            0
PV2SCIE            0
PV3SCIE            0
PV4SCIE            0
PV5SCIE            0
dtype: int64

In [38]:
# number of rows with null values
df[df.isnull().any(axis=1)].shape[0]

34492

In [39]:
# drop nulls
df.dropna(inplace=True)

# check
df.shape

(450998, 28)

In [40]:
# any duplicates?
df.duplicated().sum()

0

#### Preparing Data Analysis

In [41]:
# Compute the mean plausible values on each subject per students and store them

# Math
df['Math'] = np.mean(df.iloc[:,13:18], axis=1)

# Reading
df['Reading'] = np.mean(df.iloc[:,18:23], axis=1)

# Science
df['Science'] = np.mean(df.iloc[:,23:28], axis=1)

# Check
df.head(3)

,Country,OECD,Gender,Late,Skip,Own_room,Study_place,Computer,Internet,Literature,...,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,Math,Reading,Science
1,Albania,Non-OECD,Female,None,None,No,Yes,No,No,No,...,175.7053,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877,366.18634,261.01424,371.91348
2,Albania,Non-OECD,Female,One or two times,None,Yes,Yes,Yes,Yes,Yes,...,369.7553,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116,470.56396,384.68832,478.12382
3,Albania,Non-OECD,Female,None,None,Yes,Yes,Yes,Yes,Yes,...,431.3938,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643,505.53824,405.18154,486.60946

In [42]:
# drop unnecessary Plausible Value columns
df.drop(columns=df.columns[13:28], inplace=True)

# check
df.head(3)

,Country,OECD,Gender,Late,Skip,Own_room,Study_place,Computer,Internet,Literature,Art,Textbooks,AGE,Math,Reading,Science
1,Albania,Non-OECD,Female,None,None,No,Yes,No,No,No,No,Yes,16.17,366.18634,261.01424,371.91348
2,Albania,Non-OECD,Female,One or two times,None,Yes,Yes,Yes,Yes,Yes,Yes,Yes,16.17,470.56396,384.68832,478.12382
3,Albania,Non-OECD,Female,None,None,Yes,Yes,Yes,Yes,Yes,Yes,Yes,15.58,505.53824,405.18154,486.60946

In [43]:
# Replace values in Possession-related columns with True for 'Yes' and False for 'No'
df.iloc[:,5:12] = df.iloc[:,5:12].replace({'No': False, 'Yes':True})

# check
df.head(3)

,Country,OECD,Gender,Late,Skip,Own_room,Study_place,Computer,Internet,Literature,Art,Textbooks,AGE,Math,Reading,Science
1,Albania,Non-OECD,Female,None,None,False,True,False,False,False,False,True,16.17,366.18634,261.01424,371.91348
2,Albania,Non-OECD,Female,One or two times,None,True,True,True,True,True,True,True,16.17,470.56396,384.68832,478.12382
3,Albania,Non-OECD,Female,None,None,True,True,True,True,True,True,True,15.58,505.53824,405.18154,486.60946

In [46]:
# Create 'Possession' column which represents the number of a student possesses out of 7 items
df['Possessions'] = df.iloc[:,5:12].sum(axis=1)

# check
df.head()

,Country,OECD,Gender,Late,Skip,Own_room,Study_place,Computer,Internet,Literature,Art,Textbooks,AGE,Math,Reading,Science,Possessions
1,Albania,Non-OECD,Female,None,None,False,True,False,False,False,False,True,16.17,366.18634,261.01424,371.91348,2
2,Albania,Non-OECD,Female,One or two times,None,True,True,True,True,True,True,True,16.17,470.56396,384.68832,478.12382,7
3,Albania,Non-OECD,Female,None,None,True,True,True,True,True,True,True,15.58,505.53824,405.18154,486.60946,7
4,Albania,Non-OECD,Female,None,None,True,True,True,True,True,True,True,15.67,449.45476,477.46376,453.97240,7
5,Albania,Non-OECD,Female,One or two times,None,True,False,True,True,True,True,True,15.50,385.50398,256.01010,367.15778,6

## Univariate Exploration

In [47]:
df['Country'].value_counts()

Mexico                      31856
Italy                       30341
Spain                       24372
Canada                      20244
Brazil                      16857
Australia                   13416
United Kingdom              11705
United Arab Emirates        10846
Switzerland                 10655
Qatar                        9862
Colombia                     8382
Finland                      8302
Belgium                      7945
Denmark                      6984
Chile                        6539
Thailand                     6481
Jordan                       6258
Japan                        6205
Chinese Taipei               5816
Kazakhstan                   5666
Slovenia                     5657
Peru                         5618
Portugal                     5482
Singapore                    5418
Argentina                    5269
Macao-China                  5215
Indonesia                    5201
Czech Republic               5170
China-Shanghai               5103
Luxembourg                   4988
                            ...
Vietnam                      4708
Ireland                      4682
Croatia                      4672
Estonia                      4638
Hungary                      4620
Hong Kong-China              4559
Turkey                       4539
Austria                      4512
Poland                       4503
Uruguay                      4498
Slovak Republic              4464
France                       4388
Lithuania                    4385
Norway                       4352
Sweden                       4338
Serbia                       4325
Costa Rica                   4307
Montenegro                   4178
Netherlands                  4177
Latvia                       4165
New Zealand                  4082
Germany                      3982
Albania                      3980
Tunisia                      3949
Iceland                      3346
Florida (USA)                1788
Massachusetts (USA)          1638
Perm(Russian Federation)     1626
Connecticut (USA)            1618
Liechtenstein                 277
Name: Country, Length: 67, dtype: int64

In [132]:
df['Country'].value_counts().index

Index(['Mexico', 'Italy', 'Spain', 'Canada', 'Brazil', 'Australia',
       'United Kingdom', 'United Arab Emirates', 'Switzerland', 'Qatar',
       'Colombia', 'Finland', 'Belgium', 'Denmark', 'Chile', 'Thailand',
       'Jordan', 'Japan', 'Chinese Taipei', 'Kazakhstan', 'Slovenia', 'Peru',
       'Portugal', 'Singapore', 'Argentina', 'Macao-China', 'Indonesia',
       'Czech Republic', 'China-Shanghai', 'Luxembourg', 'Malaysia',
       'Bulgaria', 'Korea', 'Greece', 'Romania', 'Russian Federation',
       'United States of America', 'Vietnam', 'Ireland', 'Croatia', 'Estonia',
       'Hungary', 'Hong Kong-China', 'Turkey', 'Austria', 'Poland', 'Uruguay',
       'Slovak Republic', 'France', 'Lithuania', 'Norway', 'Sweden', 'Serbia',
       'Costa Rica', 'Montenegro', 'Netherlands', 'Latvia', 'New Zealand',
       'Germany', 'Albania', 'Tunisia', 'Iceland', 'Florida (USA)',
       'Massachusetts (USA)', 'Perm(Russian Federation)', 'Connecticut (USA)',
       'Liechtenstein'],
      dtype='object')

- About Country: https://www.oecd.org/pisa/pisaproducts/PISA%202012%20Technical%20Report_Chapter%2019.pdf

> Note that for several PISA 2012 participants the value for the CNT variable does not correspond to this classification system. This occurs for two possible reasons. Firstly, where a National Centre represents only part of the country. The codes of this type are QCN for Shanghai representing part of China, QCY for part of Cyprus, QRS for the Perm region of the Russian Federation, QUA,
QUB and QUC for the three states of the United States, Florida, Connecticut and Massachusetts correspondingly. Secondly,
where the National Centre represented only part of the country in a previous cycle, and even though the full country is
participating in PISA 2012, the CNT value has been preserved for consistency. The only participant’s code of this type
is ARE for the United Arab Emirates.

### Testing

In [9]:
# read pisa - dictionaries (column descriptions)
df_colname = pd.read_csv('data/pisadict2012.csv', encoding='ISO-8859-1')

In [7]:
for i in df_colname.index:
    print('{}-{} : {}'.format(i+1,df_colname['Unnamed: 0'].iloc[i], df_colname['x'].iloc[i]))

1-CNT : Country code 3-character
2-SUBNATIO : Adjudicated sub-region code 7-digit code (3-digit country code + region ID + stratum ID)
3-STRATUM : Stratum ID 7-character (cnt + region ID + original stratum ID)
4-OECD : OECD country
5-NC : National Centre 6-digit Code
6-SCHOOLID : School ID 7-digit (region ID + stratum ID + 3-digit school ID)
7-STIDSTD : Student ID
8-ST01Q01 : International Grade
9-ST02Q01 : National Study Programme
10-ST03Q01 : Birth - Month
11-ST03Q02 : Birth -Year
12-ST04Q01 : Gender
13-ST05Q01 : Attend <ISCED 0>
14-ST06Q01 : Age at <ISCED 1>
15-ST07Q01 : Repeat - <ISCED 1>
16-ST07Q02 : Repeat - <ISCED 2>
17-ST07Q03 : Repeat - <ISCED 3>
18-ST08Q01 : Truancy - Late for School
19-ST09Q01 : Truancy - Skip whole school day
20-ST115Q01 : Truancy - Skip classes within school day
21-ST11Q01 : At Home - Mother
22-ST11Q02 : At Home - Father
23-ST11Q03 : At Home - Brothers
24-ST11Q04 : At Home - Sisters
25-ST11Q05 : At Home - Grandparents
26-ST11Q06 : At Home - Others
27-ST13Q01 : Mother<Highest Schooling>
28-ST14Q01 : Mother Qualifications - <ISCED level 6>
29-ST14Q02 : Mother Qualifications - <ISCED level 5A>
30-ST14Q03 : Mother Qualifications - <ISCED level 5B>
31-ST14Q04 : Mother Qualifications - <ISCED level 4>
32-ST15Q01 : Mother Current Job Status
33-ST17Q01 : Father<Highest Schooling>
34-ST18Q01 : Father Qualifications - <ISCED level 6>
35-ST18Q02 : Father Qualifications - <ISCED level 5A>
36-ST18Q03 : Father Qualifications - <ISCED level 5B>
37-ST18Q04 : Father Qualifications - <ISCED level 4>
38-ST19Q01 : Father Current Job Status
39-ST20Q01 : Country of Birth International - Self
40-ST20Q02 : Country of Birth International - Mother
41-ST20Q03 : Country of Birth International - Father
42-ST21Q01 : Age of arrival in <country of test>
43-ST25Q01 : International Language at Home
44-ST26Q01 : Possessions - desk
45-ST26Q02 : Possessions - own room
46-ST26Q03 : Possessions - study place
47-ST26Q04 : Possessions - computer
48-ST26Q05 : Possessions - software
49-ST26Q06 : Possessions - Internet
50-ST26Q07 : Possessions - literature
51-ST26Q08 : Possessions - poetry
52-ST26Q09 : Possessions - art
53-ST26Q10 : Possessions - textbooks
54-ST26Q11 : Possessions - <technical reference books>
55-ST26Q12 : Possessions - dictionary
56-ST26Q13 : Possessions - dishwasher
57-ST26Q14 : Possessions - <DVD>
58-ST26Q15 : Possessions - <Country item 1>
59-ST26Q16 : Possessions - <Country item 2>
60-ST26Q17 : Possessions - <Country item 3>
61-ST27Q01 : How many - cellular phones
62-ST27Q02 : How many - televisions
63-ST27Q03 : How many - computers
64-ST27Q04 : How many - cars
65-ST27Q05 : How many - rooms bath or shower
66-ST28Q01 : How many books at home
67-ST29Q01 : Math Interest - Enjoy Reading
68-ST29Q02 : Instrumental Motivation - Worthwhile for Work
69-ST29Q03 : Math Interest - Look Forward to Lessons
70-ST29Q04 : Math Interest - Enjoy Maths
71-ST29Q05 : Instrumental Motivation - Worthwhile for Career Chances
72-ST29Q06 : Math Interest - Interested
73-ST29Q07 : Instrumental Motivation - Important for Future Study
74-ST29Q08 : Instrumental Motivation - Helps to Get a Job
75-ST35Q01 : Subjective Norms -Friends Do Well in Mathematics
76-ST35Q02 : Subjective Norms -Friends Work Hard on Mathematics
77-ST35Q03 : Subjective Norms - Friends Enjoy Mathematics Tests
78-ST35Q04 : Subjective Norms - Parents Believe Studying Mathematics Is Important
79-ST35Q05 : Subjective Norms - Parents Believe Mathematics Is Important for Career
80-ST35Q06 : Subjective Norms - Parents Like Mathematics
81-ST37Q01 : Math Self-Efficacy - Using a <Train Timetable>
82-ST37Q02 : Math Self-Efficacy - Calculating TV Discount
83-ST37Q03 : Math Self-Efficacy - Calculating Square Metres of Tiles
84-ST37Q04 : Math Self-Efficacy - Understanding Graphs in Newspapers
85-ST37Q05 : Math Self-Efficacy - Solving Equation 1
86-ST37Q06 : Math Self-Efficacy - Distance to Scale
87-ST37Q07 : Math Self-Efficacy - Solving Equation 2
88-ST37Q08 : Math Self-Efficacy - Calculate Petrol Consumption Rate
89-ST42Q01 : Math Anxiety - Worry That It Will Be Difficult
90-ST42Q02 : Math Self-Concept - Not Good at Maths
91-ST42Q03 : Math Anxiety - Get Very Tense
92-ST42Q04 : Math Self-Concept- Get Good <Grades>
93-ST42Q05 : Math Anxiety - Get Very Nervous
94-ST42Q06 : Math Self-Concept - Learn Quickly
95-ST42Q07 : Math Self-Concept - One of Best Subjects
96-ST42Q08 : Math Anxiety - Feel Helpless
97-ST42Q09 : Math Self-Concept - Understand Difficult Work
98-ST42Q10 : Math Anxiety - Worry About Getting Poor <Grades>
99-ST43Q01 : Perceived Control - Can Succeed with Enough Effort
100-ST43Q02 : Perceived Control - Doing Well is Completely Up to Me
101-ST43Q03 : Perceived Control - Family Demands and Problems
102-ST43Q04 : Perceived Control - Different Teachers
103-ST43Q05 : Perceived Control - If I Wanted I Could Perform Well
104-ST43Q06 : Perceived Control - Perform Poorly Regardless
105-ST44Q01 : Attributions to Failure - Not Good at Maths Problems
106-ST44Q03 : Attributions to Failure - Teacher Did Not Explain Well
107-ST44Q04 : Attributions to Failure - Bad Guesses
108-ST44Q05 : Attributions to Failure - Material Too Hard
109-ST44Q07 : Attributions to Failure - Teacher Didnt Get Students Interested
110-ST44Q08 : Attributions to Failure - Unlucky
111-ST46Q01 : Math Work Ethic - Homework Completed in Time
112-ST46Q02 : Math Work Ethic - Work Hard on Homework
113-ST46Q03 : Math Work Ethic - Prepared for Exams
114-ST46Q04 : Math Work Ethic - Study Hard for Quizzes
115-ST46Q05 : Math Work Ethic - Study Until I Understand Everything
116-ST46Q06 : Math Work Ethic - Pay Attention in Classes
117-ST46Q07 : Math Work Ethic - Listen in Classes
118-ST46Q08 : Math Work Ethic - Avoid Distractions When Studying
119-ST46Q09 : Math Work Ethic - Keep Work Organized
120-ST48Q01 : Math Intentions - Mathematics vs. Language Courses After School
121-ST48Q02 : Math Intentions - Mathematics vs. Science Related Major in College
122-ST48Q03 : Math Intentions - Study Harder in Mathematics vs. Language Classes
123-ST48Q04 : Math Intentions - Take Maximum Number of Mathematics vs. Science Classes
124-ST48Q05 : Math Intentions - Pursuing a Career That Involves Mathematics vs. Science
125-ST49Q01 : Math Behaviour - Talk about Maths with Friends
126-ST49Q02 : Math Behaviour - Help Friends with Maths
127-ST49Q03 : Math Behaviour - <Extracurricular> Activity
128-ST49Q04 : Math Behaviour - Participate in Competitions
129-ST49Q05 : Math Behaviour - Study More Than 2 Extra Hours a Day
130-ST49Q06 : Math Behaviour - Play Chess
131-ST49Q07 : Math Behaviour - Computer programming
132-ST49Q09 : Math Behaviour - Participate in Math Club
133-ST53Q01 : Learning Strategies- Important Parts vs. Existing Knowledge vs. Learn by Heart
134-ST53Q02 : Learning Strategies- Improve Understanding vs. New Ways vs. Memory
135-ST53Q03 : Learning Strategies - Other Subjects vs. Learning Goals vs. Rehearse Problems
136-ST53Q04 : Learning Strategies - Repeat Examples vs. Everyday Applications vs. More Information
137-ST55Q01 : Out of school lessons - <test lang>
138-ST55Q02 : Out of school lessons - <maths>
139-ST55Q03 : Out of school lessons - <science>
140-ST55Q04 : Out of school lessons - other
141-ST57Q01 : Out-of-School Study Time - Homework
142-ST57Q02 : Out-of-School Study Time - Guided Homework
143-ST57Q03 : Out-of-School Study Time - Personal Tutor
144-ST57Q04 : Out-of-School Study Time - Commercial Company
145-ST57Q05 : Out-of-School Study Time - With Parent
146-ST57Q06 : Out-of-School Study Time - Computer
147-ST61Q01 : Experience with Applied Maths Tasks - Use <Train Timetable>
148-ST61Q02 : Experience with Applied Maths Tasks - Calculate Price including Tax
149-ST61Q03 : Experience with Applied Maths Tasks - Calculate Square Metres
150-ST61Q04 : Experience with Applied Maths Tasks - Understand Scientific Tables
151-ST61Q05 : Experience with Pure Maths Tasks - Solve Equation 1
152-ST61Q06 : Experience with Applied Maths Tasks - Use a Map to Calculate Distance
153-ST61Q07 : Experience with Pure Maths Tasks - Solve Equation 2
154-ST61Q08 : Experience with Applied Maths Tasks - Calculate Power Consumption Rate
155-ST61Q09 : Experience with Applied Maths Tasks - Solve Equation 3
156-ST62Q01 : Familiarity with Math Concepts - Exponential Function
157-ST62Q02 : Familiarity with Math Concepts - Divisor
158-ST62Q03 : Familiarity with Math Concepts - Quadratic Function
159-ST62Q04 : Overclaiming - Proper Number
160-ST62Q06 : Familiarity with Math Concepts - Linear Equation
161-ST62Q07 : Familiarity with Math Concepts - Vectors
162-ST62Q08 : Familiarity with Math Concepts - Complex Number
163-ST62Q09 : Familiarity with Math Concepts - Rational Number
164-ST62Q10 : Familiarity with Math Concepts - Radicals
165-ST62Q11 : Overclaiming - Subjunctive Scaling
166-ST62Q12 : Familiarity with Math Concepts - Polygon
167-ST62Q13 : Overclaiming - Declarative Fraction
168-ST62Q15 : Familiarity with Math Concepts - Congruent Figure
169-ST62Q16 : Familiarity with Math Concepts - Cosine
170-ST62Q17 : Familiarity with Math Concepts - Arithmetic Mean
171-ST62Q19 : Familiarity with Math Concepts - Probability
172-ST69Q01 : Min in <class period> - <test lang>
173-ST69Q02 : Min in <class period> - <Maths>
174-ST69Q03 : Min in <class period> - <Science>
175-ST70Q01 : No of <class period> p/wk - <test lang>
176-ST70Q02 : No of <class period> p/wk - <Maths>
177-ST70Q03 : No of <class period> p/wk - <Science>
178-ST71Q01 : No of ALL <class period> a week
179-ST72Q01 : Class Size - No of Students in <Test Language> Class
180-ST73Q01 : OTL - Algebraic Word Problem in Math Lesson
181-ST73Q02 : OTL - Algebraic Word Problem in Tests
182-ST74Q01 : OTL - Procedural Task in Math Lesson
183-ST74Q02 : OTL - Procedural Task in Tests
184-ST75Q01 : OTL - Pure Math Reasoning in Math Lesson
185-ST75Q02 : OTL - Pure Math Reasoning in Tests
186-ST76Q01 : OTL - Applied Math Reasoning in Math Lesson
187-ST76Q02 : OTL - Applied Math Reasoning in Tests
188-ST77Q01 : Math Teaching - Teacher shows interest
189-ST77Q02 : Math Teaching - Extra help
190-ST77Q04 : Math Teaching - Teacher helps
191-ST77Q05 : Math Teaching - Teacher continues
192-ST77Q06 : Math Teaching - Express opinions
193-ST79Q01 : Teacher-Directed Instruction - Sets Clear Goals
194-ST79Q02 : Teacher-Directed Instruction - Encourages Thinking and Reasoning
195-ST79Q03 : Student Orientation - Differentiates Between Students When Giving Tasks
196-ST79Q04 : Student Orientation - Assigns Complex Projects
197-ST79Q05 : Formative Assessment - Gives Feedback
198-ST79Q06 : Teacher-Directed Instruction - Checks Understanding
199-ST79Q07 : Student Orientation - Has Students Work in Small Groups
200-ST79Q08 : Teacher-Directed Instruction - Summarizes Previous Lessons
201-ST79Q10 : Student Orientation - Plans Classroom Activities
202-ST79Q11 : Formative Assessment - Gives Feedback on Strengths and Weaknesses
203-ST79Q12 : Formative Assessment - Informs about Expectations
204-ST79Q15 : Teacher-Directed Instruction - Informs about Learning Goals
205-ST79Q17 : Formative Assessment - Tells How to Get Better
206-ST80Q01 : Cognitive Activation - Teacher Encourages to Reflect Problems
207-ST80Q04 : Cognitive Activation - Gives Problems that Require to Think
208-ST80Q05 : Cognitive Activation - Asks to Use Own Procedures
209-ST80Q06 : Cognitive Activation - Presents Problems with No Obvious Solutions
210-ST80Q07 : Cognitive Activation - Presents Problems in Different Contexts
211-ST80Q08 : Cognitive Activation - Helps Learn from Mistakes
212-ST80Q09 : Cognitive Activation - Asks for Explanations
213-ST80Q10 : Cognitive Activation - Apply What We Learned
214-ST80Q11 : Cognitive Activation - Problems with Multiple Solutions
215-ST81Q01 : Disciplinary Climate - Students Dont Listen
216-ST81Q02 : Disciplinary Climate - Noise and Disorder
217-ST81Q03 : Disciplinary Climate - Teacher Has to Wait Until its Quiet
218-ST81Q04 : Disciplinary Climate - Students Dont Work Well
219-ST81Q05 : Disciplinary Climate - Students Start Working Late
220-ST82Q01 : Vignette Teacher Support -Homework Every Other Day/Back in Time
221-ST82Q02 : Vignette Teacher Support - Homework Once a Week/Back in Time
222-ST82Q03 : Vignette Teacher Support - Homework Once a Week/Not Back in Time
223-ST83Q01 : Teacher Support - Lets Us Know We Have to Work Hard
224-ST83Q02 : Teacher Support - Provides Extra Help When Needed
225-ST83Q03 : Teacher Support - Helps Students with Learning
226-ST83Q04 : Teacher Support - Gives Opportunity to Express Opinions
227-ST84Q01 : Vignette Classroom Management - Students Frequently Interrupt/Teacher Arrives Early
228-ST84Q02 : Vignette Classroom Management - Students Are Calm/Teacher Arrives on Time
229-ST84Q03 : Vignette Classroom Management - Students Frequently Interrupt/Teacher Arrives Late
230-ST85Q01 : Classroom Management - Students Listen
231-ST85Q02 : Classroom Management - Teacher Keeps Class Orderly
232-ST85Q03 : Classroom Management - Teacher Starts On Time
233-ST85Q04 : Classroom Management - Wait Long to <Quiet Down>
234-ST86Q01 : Student-Teacher Relation - Get Along with Teachers
235-ST86Q02 : Student-Teacher Relation - Teachers Are Interested
236-ST86Q03 : Student-Teacher Relation - Teachers Listen to Students
237-ST86Q04 : Student-Teacher Relation - Teachers Help Students
238-ST86Q05 : Student-Teacher Relation - Teachers Treat Students Fair
239-ST87Q01 : Sense of Belonging - Feel Like Outsider
240-ST87Q02 : Sense of Belonging - Make Friends Easily
241-ST87Q03 : Sense of Belonging - Belong at School
242-ST87Q04 : Sense of Belonging - Feel Awkward at School
243-ST87Q05 : Sense of Belonging - Liked by Other Students
244-ST87Q06 : Sense of Belonging - Feel Lonely at School
245-ST87Q07 : Sense of Belonging - Feel Happy at School
246-ST87Q08 : Sense of Belonging - Things Are Ideal at School
247-ST87Q09 : Sense of Belonging - Satisfied at School
248-ST88Q01 : Attitude towards School - Does Little to Prepare Me for Life
249-ST88Q02 : Attitude towards School - Waste of Time
250-ST88Q03 : Attitude towards School - Gave Me Confidence
251-ST88Q04 : Attitude towards School- Useful for Job
252-ST89Q02 : Attitude toward School - Helps to Get a Job
253-ST89Q03 : Attitude toward School - Prepare for College
254-ST89Q04 : Attitude toward School - Enjoy Good Grades
255-ST89Q05 : Attitude toward School - Trying Hard is Important
256-ST91Q01 : Perceived Control - Can Succeed with Enough Effort
257-ST91Q02 : Perceived Control - My Choice Whether I Will Be Good
258-ST91Q03 : Perceived Control - Problems Prevent from Putting Effort into School
259-ST91Q04 : Perceived Control - Different Teachers Would Make Me Try Harder
260-ST91Q05 : Perceived Control - Could Perform Well if I Wanted
261-ST91Q06 : Perceived Control - Perform Poor Regardless
262-ST93Q01 : Perseverance - Give up easily
263-ST93Q03 : Perseverance - Put off difficult problems
264-ST93Q04 : Perseverance - Remain interested
265-ST93Q06 : Perseverance - Continue to perfection
266-ST93Q07 : Perseverance - Exceed expectations
267-ST94Q05 : Openness for Problem Solving - Can Handle a Lot of Information
268-ST94Q06 : Openness for Problem Solving - Quick to Understand
269-ST94Q09 : Openness for Problem Solving - Seek Explanations
270-ST94Q10 : Openness for Problem Solving - Can Link Facts
271-ST94Q14 : Openness for Problem Solving - Like to Solve Complex Problems
272-ST96Q01 : Problem Text Message - Press every button
273-ST96Q02 : Problem Text Message - Trace steps
274-ST96Q03 : Problem Text Message - Manual
275-ST96Q05 : Problem Text Message - Ask a friend
276-ST101Q01 : Problem Route Selection - Read brochure
277-ST101Q02 : Problem Route Selection - Study map
278-ST101Q03 : Problem Route Selection - Leave it to brother
279-ST101Q05 : Problem Route Selection - Just drive
280-ST104Q01 : Problem Ticket Machine - Similarities
281-ST104Q04 : Problem Ticket Machine - Try buttons
282-ST104Q05 : Problem Ticket Machine - Ask for help
283-ST104Q06 : Problem Ticket Machine - Find ticket office
284-IC01Q01 : At Home - Desktop Computer
285-IC01Q02 : At Home - Portable laptop
286-IC01Q03 : At Home - Tablet computer
287-IC01Q04 : At Home - Internet connection
288-IC01Q05 : At Home - Video games console
289-IC01Q06 : At Home - Cell phone w/o Internet
290-IC01Q07 : At Home - Cell phone with Internet
291-IC01Q08 : At Home - Mp3/Mp4 player
292-IC01Q09 : At Home - Printer
293-IC01Q10 : At Home - USB (memory) stick
294-IC01Q11 : At Home - Ebook reader
295-IC02Q01 : At school - Desktop Computer
296-IC02Q02 : At school - Portable laptop
297-IC02Q03 : At school - Tablet computer
298-IC02Q04 : At school - Internet connection
299-IC02Q05 : At school - Printer
300-IC02Q06 : At school - USB (memory) stick
301-IC02Q07 : At school - Ebook reader
302-IC03Q01 : First use of computers
303-IC04Q01 : First access to Internet
304-IC05Q01 : Internet at School
305-IC06Q01 : Internet out-of-school - Weekday
306-IC07Q01 : Internet out-of-school - Weekend
307-IC08Q01 : Out-of-school 8 - One player games.
308-IC08Q02 : Out-of-school 8 - ColLabourative games.
309-IC08Q03 : Out-of-school 8 - Use email
310-IC08Q04 : Out-of-school 8 - Chat on line
311-IC08Q05 : Out-of-school 8 - Social networks
312-IC08Q06 : Out-of-school 8 - Browse the Internet for fun
313-IC08Q07 : Out-of-school 8 - Read news
314-IC08Q08 : Out-of-school 8 - Obtain practical information from the Internet
315-IC08Q09 : Out-of-school 8 - Download music
316-IC08Q11 : Out-of-school 8 - Upload content
317-IC09Q01 : Out-of-school 9 - Internet for school
318-IC09Q02 : Out-of-school 9 - Email students
319-IC09Q03 : Out-of-school 9 - Email teachers
320-IC09Q04 : Out-of-school 9 - Download from School
321-IC09Q05 : Out-of-school 9 - Announcements
322-IC09Q06 : Out-of-school 9 - Homework
323-IC09Q07 : Out-of-school 9 - Share school material
324-IC10Q01 : At School - Chat on line
325-IC10Q02 : At School - Email
326-IC10Q03 : At School - Browse for schoolwork
327-IC10Q04 : At School - Download from website
328-IC10Q05 : At School - Post on website
329-IC10Q06 : At School - Simulations
330-IC10Q07 : At School - Practice and drilling
331-IC10Q08 : At School - Homework
332-IC10Q09 : At School - Group work
333-IC11Q01 : Maths lessons - Draw graph
334-IC11Q02 : Maths lessons - Calculation with numbers
335-IC11Q03 : Maths lessons - Geometric figures
336-IC11Q04 : Maths lessons - Spreadsheet
337-IC11Q05 : Maths lessons - Algebra
338-IC11Q06 : Maths lessons - Histograms
339-IC11Q07 : Maths lessons - Change in graphs
340-IC22Q01 : Attitudes - Useful for schoolwork
341-IC22Q02 : Attitudes - Homework more fun
342-IC22Q04 : Attitudes - Source of information
343-IC22Q06 : Attitudes - Troublesome
344-IC22Q07 : Attitudes - Not suitable for schoolwork
345-IC22Q08 : Attitudes - Too unreliable
346-EC01Q01 : Miss 2 months of <ISCED 1>
347-EC02Q01 : Miss 2 months of <ISCED 2>
348-EC03Q01 : Future Orientation - Internship
349-EC03Q02 : Future Orientation - Work-site visits
350-EC03Q03 : Future Orientation - Job fair
351-EC03Q04 : Future Orientation - Career advisor at school
352-EC03Q05 : Future Orientation - Career advisor outside school
353-EC03Q06 : Future Orientation - Questionnaire
354-EC03Q07 : Future Orientation - Internet search
355-EC03Q08 : Future Orientation - Tour<ISCED 3-5> institution
356-EC03Q09 : Future Orientation - web search <ISCED 3-5> prog
357-EC03Q10 : Future Orientation - <country specific item>
358-EC04Q01A : Acquired skills - Find job info - Yes, at school
359-EC04Q01B : Acquired skills - Find job info - Yes, out of school
360-EC04Q01C : Acquired skills - Find job info - No, never
361-EC04Q02A : Acquired skills - Search for job - Yes, at school
362-EC04Q02B : Acquired skills - Search for job - Yes, out of school
363-EC04Q02C : Acquired skills - Search for job - No, never
364-EC04Q03A : Acquired skills - Write resume - Yes, at school
365-EC04Q03B : Acquired skills - Write resume - Yes, out of school
366-EC04Q03C : Acquired skills - Write resume - No, never

In [48]:
# number of students participated in each country by gender
df.groupby(['Country', 'Gender']).count().iloc[:,0]

Country                   Gender
Albania                   Female     1999
                          Male       1981
Argentina                 Female     2795
                          Male       2474
Australia                 Female     6612
                          Male       6804
Austria                   Female     2256
                          Male       2256
Belgium                   Female     4019
                          Male       3926
Brazil                    Female     8839
                          Male       8018
Bulgaria                  Female     2418
                          Male       2468
Canada                    Female    10357
                          Male       9887
Chile                     Female     3361
                          Male       3178
China-Shanghai            Female     2604
                          Male       2499
Chinese Taipei            Female     3024
                          Male       2792
Colombia                  Female     4391
                          Male       3991
Connecticut (USA)         Female      814
                          Male        804
Costa Rica                Female     2307
                          Male       2000
Croatia                   Female     2328
                          Male       2344
                                    ...
Serbia                    Female     2185
                          Male       2140
Singapore                 Female     2707
                          Male       2711
Slovak Republic           Female     2142
                          Male       2322
Slovenia                  Female     2618
                          Male       3039
Spain                     Female    12271
                          Male      12101
Sweden                    Female     2210
                          Male       2128
Switzerland               Female     5339
                          Male       5316
Thailand                  Female     3656
                          Male       2825
Tunisia                   Female     2117
                          Male       1832
Turkey                    Female     2212
                          Male       2327
United Arab Emirates      Female     5544
                          Male       5302
United Kingdom            Female     5862
                          Male       5843
United States of America  Female     2358
                          Male       2402
Uruguay                   Female     2426
                          Male       2072
Vietnam                   Female     2501
                          Male       2207
Name: OECD, Length: 134, dtype: int64

In [49]:
df.groupby(['Country', 'Gender']).count().iloc[:,0]['Albania']

Gender
Female    1999
Male      1981
Name: OECD, dtype: int64

In [3]:
# ggplot2 example
'''
install.packages('ggplot2')
library(ggplot2)

df = read.csv(file.choose()) #select your dataset 
df2 = head(df, 30)


qplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score', 
      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College')

qplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score', 
      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College', 
      color = as.factor(df2$Public..1...Private..2.))

qplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score',
      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College',
      shape = as.factor(df2$Public..1...Private..2.), color = df2$stud..fac..ratio)

ggplot(df2, aes(x=Math.SAT, y=Verbal.SAT, group=stud..fac..ratio)) +
  geom_point(aes(shape=stud..fac..ratio, color=as.factor(df2$Public..1...Private..2.))
'''

"\ninstall.packages('ggplot2')\nlibrary(ggplot2)\n\ndf = read.csv(file.choose()) #select your dataset \ndf2 = head(df, 30)\n\n\nqplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score', \n      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College')\n\nqplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score', \n      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College', \n      color = as.factor(df2$Public..1...Private..2.))\n\nqplot(df2$Math.SAT, df2$Verbal.SAT, xlab = 'Math SAT Score',\n      ylab = 'Verbal SAT Score', main = 'Average SAT Scores By College',\n      shape = as.factor(df2$Public..1...Private..2.), color = df2$stud..fac..ratio)\n\nggplot(df2, aes(x=Math.SAT, y=Verbal.SAT, group=stud..fac..ratio)) +\n  geom_point(aes(shape=stud..fac..ratio, color=as.factor(df2$Public..1...Private..2.))\n"

### Things to Consider
1. Color-blind friendly: Use blue-orange palette over red-green
2. Features for additional infor: different encodings
 - color & shape for categorical variables
 - marker size for quantitative variables

### Sample Questions
- How does the choice of school play into academic performance?
- Are there differences in achievement based on gender, location, or student attitudes?
- Are there differences in achievement based on teacher practices and attitudes?
- Does there exist inequality in academic achievement?

### Reference

1. PISA Contest: http://mi2.mini.pw.edu.pl:8080/SmarterPoland/PISAcontest/
2. PISA Survey Design: http://www.oecd.org/pisa/data/pisa2012technicalreport.htm
3. PISA Data and Codebooks: http://www.oecd.org/pisa/data/pisa2012database-downloadabledata.htm