### Gathering Data

In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import tweepy_credentials as creds
import json
import time
import re

In [2]:
# create pandas DataFrame for the WeRateDogs Twitter archive
df_archive = pd.read_csv('data/twitter-archive-enhanced.csv')

# check
df_archive.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [3]:
## download, save, and create pandas DataFrame for the tweet image predictions
# create response object using requests.get() method
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

# Check the status where 200 being the HTTP status code for the request has succeeded.
response

In [4]:
# download the file and save it as image_predictions.tsv
with open('data/image_predictions.tsv', 'wb') as file:
    file.write(response.content)

In [5]:
# load .tsv file to pandas DataFrame
df_img = pd.read_csv('data/image_predictions.tsv', sep='\t')

# check
df_img.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [6]:
# import Twitter api developer credentials
consumer_key = creds.consumer_key
consumer_secret = creds.consumer_secret
access_token = creds.access_token
access_secret = creds.access_secret

In [7]:
# setup for twitter api, tweepy
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [8]:
# Gather additional data from Twitter's API

err = []  # For Tweet IDs with errors

# Store each tweet's entire JSON data in a file
with open('data/tweet_json.txt', 'w') as file: 
    for i in df_archive['tweet_id']:
        try:
            tweet = api.get_status(i)
            # converting Status Object into JSON and write
            json.dump(tweet._json, file)
            # separate each tweet's data with a line break
            file.write("\n")
            
        except:   
            print('ERROR: ID {} Not Found !'.format(i))
            # store tweet id with errors in err[]
            err.append(i)

ERROR: ID 888202515573088257 Not Found !
ERROR: ID 873697596434513921 Not Found !
ERROR: ID 872668790621863937 Not Found !
ERROR: ID 872261713294495745 Not Found !
ERROR: ID 869988702071779329 Not Found !
ERROR: ID 866816280283807744 Not Found !
ERROR: ID 861769973181624320 Not Found !
ERROR: ID 845459076796616705 Not Found !
ERROR: ID 842892208864923648 Not Found !
ERROR: ID 837012587749474308 Not Found !
ERROR: ID 827228250799742977 Not Found !
ERROR: ID 812747805718642688 Not Found !
ERROR: ID 802247111496568832 Not Found !

Rate limit reached. Sleeping for: 490

ERROR: ID 775096608509886464 Not Found !
ERROR: ID 770743923962707968 Not Found !
ERROR: ID 754011816964026368 Not Found !

Rate limit reached. Sleeping for: 509

ERROR: ID 680055455951884288 Not Found !

In [29]:
# read additional JSON file and store it into a DataFrame
data_json = []

with open('data/tweet_json.txt', 'r') as json_file:
    for line in json_file:
        tweet = json.loads(line)
        
        # take id, retweet_counts, and favorite_count from each tweet
        data_json.append({'tweet_id': tweet['id'],
                          'retweets': tweet['retweet_count'],
                          'favorites': tweet['favorite_count']
                         })
# convert it to pandas DataFrame
df_counts = pd.DataFrame(data_json, columns=['tweet_id', 'retweets', 'favorites'])

In [30]:
# check
df_counts.head()

             tweet_id  retweets  favorites
0  892420643555336193      8213      37672
1  892177421306343426      6073      32356
2  891815181378084864      4015      24373
3  891689557279858688      8361      40994
4  891327558926688256      9072      39192

In [31]:
# check Tweet IDs with errors
len(err)

17

In [36]:
# save to a .csv file
df_counts.to_csv('data/tweet_counts.csv', index=False)

### Assessing Data
#### 1. df_counts

In [40]:
df_counts = pd.read_csv('data/tweet_counts.csv')

In [45]:
# shape
df_counts.shape

(2339, 3)

In [43]:
# info
df_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 3 columns):
tweet_id     2339 non-null int64
retweets     2339 non-null int64
favorites    2339 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [48]:
# duplicates
df_counts.duplicated().sum()

0

In [56]:
# null
df_counts.isnull().sum()

tweet_id     0
retweets     0
favorites    0
dtype: int64

In [44]:
# assess visually
df_counts

                tweet_id  retweets  favorites
0     892420643555336193      8213      37672
1     892177421306343426      6073      32356
2     891815181378084864      4015      24373
3     891689557279858688      8361      40994
4     891327558926688256      9072      39192
5     891087950875897856      3007      19706
6     890971913173991426      1989      11520
7     890729181411237888     18243      63542
8     890609185150312448      4132      27093
9     890240255349198849      7132      31053
10    890006608113172480      7090      29868
11    889880896479866881      4817      27074
12    889665388333682689      9708      46811
13    889638837579907072      4384      26398
14    889531135344209921      2179      14717
15    889278841981685760      5200      24573
16    888917238123831296      4355      28357
17    888804989199671297      4139      24874
18    888554962724278272      3423      19305
19    888078434458587136      3373      21182
20    887705289381826560      5208      29402
21    887517139158093824     11325      45053
22    887473957103951883     17569      67109
23    887343217045368832     10090      32779
24    887101392804085760      5768      29763
25    886983233522544640      7517      34181
26    886736880519319552      3161      11719
27    886680336477933568      4321      21849
28    886366144734445568      3096      20628
29    886267009285017600         4        116
...                  ...       ...        ...
2309  666411507551481857       320        431
2310  666407126856765440        39        105
2311  666396247373291520        83        162
2312  666373753744588802        88        183
2313  666362758909284353       558        756
2314  666353288456101888        71        214
2315  666345417576210432       132        284
2316  666337882303524864        88        192
2317  666293911632134144       343        488
2318  666287406224695296        63        142
2319  666273097616637952        76        169
2320  666268910803644416        35        100
2321  666104133288665088      6351      13974
2322  666102155909144576        11         77
2323  666099513787052032        65        149
2324  666094000022159362        71        160
2325  666082916733198337        44        113
2326  666073100786774016       158        314
2327  666071193221509120        58        142
2328  666063827256086533       212        462
2329  666058600524156928        57        108
2330  666057090499244032       138        286
2331  666055525042405380       235        426
2332  666051853826850816       827       1192
2333  666050758794694657        57        130
2334  666049248165822465        42        105
2335  666044226329800704       136        290
2336  666033412701032449        43        121
2337  666029285002620928        46        125
2338  666020888022790149       496       2517

[2339 rows x 3 columns]

#### 2. df_archive

In [46]:
# shape
df_archive.shape

(2356, 17)

In [ ]:
# info

In [ ]:
# duplicates

In [ ]:
# null

In [ ]:
# assess visually

#### 3. df_image

In [ ]:
# shape

In [ ]:
# info

In [ ]:
# duplicates

In [ ]:
# null

In [ ]:
# assess visually

#### Quality
- 


#### Tidiness
-

#### Reference
- Convert Tweepy Status object into JSON: https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json
- Reading/Writing JSON to a File in Python: https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/