### Gathering

In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import tweepy_credentials as creds
import json
import time
import re

In [2]:
# create pandas DataFrame for the WeRateDogs Twitter archive
df_archive = pd.read_csv('data/twitter-archive-enhanced.csv')

# check
df_archive.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [3]:
## download, save, and create pandas DataFrame for the tweet image predictions
# create response object using requests.get() method
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

# Check the status where 200 being the HTTP status code for the request has succeeded.
response

In [4]:
# download the file and save it as image_predictions.tsv
with open('data/image_predictions.tsv', 'wb') as file:
    file.write(response.content)

In [5]:
# load .tsv file to pandas DataFrame
df_img = pd.read_csv('data/image_predictions.tsv', sep='\t')

# check
df_img.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [6]:
# import Twitter api developer credentials
consumer_key = creds.consumer_key
consumer_secret = creds.consumer_secret
access_token = creds.access_token
access_secret = creds.access_secret

In [7]:
# setup for twitter api, tweepy
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

---
Test

In [28]:
df_sample = df_archive.sample(30)

In [54]:
data = []
err = []
for i in df_sample['tweet_id']:
    try:
        data.append(api.get_status(i, tweet_mode='extended')._json)
    except:
        err.append(i)
        print('{} Not Found !'.format(i))

In [56]:
with open('data/tweet_sample.txt', mode='w') as file:
    json.dump(data, file)

In [57]:
data[0]

{'created_at': 'Thu Feb 25 16:53:11 +0000 2016',
 'id': 702899151802126337,
 'id_str': '702899151802126337',
 'full_text': 'Say hello to Luna. Her tongue is malfunctioning (tragic). 12/10 please enjoy (vid by @LilyArtz) https://t.co/F9aLnADVIw',
 'truncated': False,
 'display_text_range': [0, 119],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [{'screen_name': 'LilyArtz',
    'name': 'lily artz',
    'id': 2595631677,
    'id_str': '2595631677',
    'indices': [85, 94]}],
  'urls': [{'url': 'https://t.co/F9aLnADVIw',
    'expanded_url': 'https://vine.co/v/i6iIrBwnTFI',
    'display_url': 'vine.co/v/i6iIrBwnTFI',
    'indices': [96, 119]}]},
 'source': '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com',
  'url': 'https://t.co/N7sNNHSfPq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 7931767,
  'friends_count': 12,
  'listed_count': 6096,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 141420,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10002,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1554098098',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 477,
 'favorite_count': 1672,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [58]:
len(data)

30

In [59]:
data2 = pd.read_json('data/tweet_sample.txt')

In [63]:
data2

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2016-02-25 16:53:11,"[0, 119]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1672,False,Say hello to Luna. Her tongue is malfunctionin...,NaN,...,en,NaN,0.0,0.0,477,False,NaN,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-04-24 15:13:52,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 856526604033556482, 'id_str'...",11901,False,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",NaN,...,en,NaN,0.0,0.0,1915,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2015-11-28 21:34:09,"[0, 95]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 670717326967205888, 'id_str'...",1214,False,*screams for a little bit and then crumples to...,NaN,...,en,NaN,0.0,0.0,504,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2015-12-06 04:18:46,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 673355872538599424, 'id_str'...",1500,False,This is Koda. She's a boss. Helps shift gears....,NaN,...,en,NaN,0.0,0.0,591,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-15 23:25:31,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886366138128449536, 'id_str'...",20629,False,This is Roscoe. Another pupper fallen victim t...,NaN,...,en,NaN,0.0,0.0,3097,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
5,NaN,NaN,2016-11-24 18:28:13,"[0, 63]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1870,False,.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,...,en,NaN,NaN,NaN,254,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
6,NaN,NaN,2016-02-17 18:49:22,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 700029279581708288, 'id_str'...",2150,False,This is Coops. His ship is taking on water. So...,NaN,...,en,NaN,0.0,0.0,613,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
7,NaN,NaN,2017-01-18 01:01:34,"[0, 117]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 821522878252384256, 'id_str'...",8450,False,This is Harlso. He has a really good idea but ...,NaN,...,en,NaN,0.0,0.0,1913,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
8,NaN,NaN,2017-04-24 20:17:23,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,RT @dog_rates: This is Luna. It's her first ti...,NaN,...,en,NaN,NaN,NaN,10862,False,{'created_at': 'Thu Mar 23 00:18:10 +0000 2017...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
9,NaN,NaN,2016-09-01 02:21:21,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 673320125483892736, 'id_str'...",0,False,RT @dog_rates: This is Frankie. He's wearing b...,NaN,...,en,NaN,0.0,0.0,8115,False,{'created_at': 'Sun Dec 06 01:56:44 +0000 2015...,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
10,NaN,NaN,2015-12-07 23:55:26,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674014376857174021, 'id_str'...",1577,False,Say hello to Aiden. His eyes are magical. Love...,NaN,...,en,NaN,0.0,0.0,662,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
11,NaN,NaN,2016-01-18 02:49:58,"[0, 93]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 688916187321864196, 'id_str'...",2845,False,This pupper just wants to say hello. 11/10 wou...,NaN,...,en,NaN,0.0,0.0,918,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
12,NaN,NaN,2017-03-13 00:02:39,"[0, 109]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 841077001360461824, 'id_str'...",23691,False,This is Dawn. She's just checking pup on you. ...,NaN,...,en,NaN,0.0,0.0,5593,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
13,NaN,NaN,2016-01-10 02:13:27,"[0, 87]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 686007910048989185, 'id_str'...",2581,False,This pupper has a magical eye. 11/10 I can't s...,NaN,...,en,NaN,0.0,0.0,447,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
14,NaN,NaN,2015-12-07 02:25:23,"[0, 88]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 673689698171228160, 'id_str'...",1748,False,When you're having a blast and remember tomorr...,NaN,...,en,NaN,0.0,0.0,666,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
15,NaN,NaN,2016-01-08 04:46:13,"[0, 93]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 685321578897354753, 'id_str'...",2752,False,This is Rocky. He sleeps like a psychopath. 10...,NaN,...,en,NaN,0.0,0.0,680,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
16,NaN,NaN,2015-12-30 01:00:03,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 682003173041549313, 'id_str'...",3276,False,Unique dog here. Wrinkly as hell. Weird segmen...,NaN,...,en,NaN,0.0,0.0,1623,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
17,NaN,NaN,2016-03-31 02:09:32,"[0, 87]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 715360342210166784, 'id_str'...",5656,False,This is Bertson. He just wants to say hi. 11/1...,NaN,...,en,NaN,0.0,0.0,1651,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
18,NaN,NaN,2016-07-23 19:49:07,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 756939201392807936, 'id_str'...",6957,False,This is Jax. He is a majestic mountain pupper....,NaN,...,en,NaN,0.0,0.0,2145,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
19,NaN,NaN,2016-04-23 00:41:42,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 723673152451149824, 'id_str'...",3125,False,This is Ivar. She is a badass Viking warrior. ...,NaN,...,en,NaN,0.0,0.0,934,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
20,NaN,NaN,2016-09-09 18:31:54,"[0, 103]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 774314388044058624, 'id_str'...",22957,False,I WAS SENT THE ACTUAL DOG IN THE PROFILE PIC B...,NaN,...,en,NaN,0.0,0.0,5987,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
21,NaN,NaN,2016-03-23 15:53:42,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 712668618841042948, 'id_str'...",4306,False,Say hello to Sunny and Roxy. They pull things ...,NaN,...,en,NaN,0.0,0.0,1274,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
22,NaN,NaN,2017-05-22 16:06:55,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 866686816879087618, 'id_str'...",19060,False,This is Lili. She can't believe you betrayed h...,NaN,...,en,NaN,0.0,0.0,3453,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
23,NaN,NaN,2015-11-20 19:55:30,"[0, 119]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 667793397835542529, 'id_str'...",697,False,Dogs only please. Small cows and other non can...,NaN,...,en,NaN,0.0,0.0,334,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
24,NaN,NaN,2016-12-21 17:39:46,"[0, 103]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 811627196553035776, 'id_str'...",13532,False,This is Augie. He's a savage. Doesn't give a h...,NaN,...,en,NaN,0.0,0.0,3380,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
25,NaN,NaN,2016-04-10 01:20:33,"[0, 72]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 718971861124521984, 'id_str'...",3607,False,This is Sadie. She is prepared for battle. 10/...,NaN,...,en,NaN,0.0,0.0,1147,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
26,NaN,NaN,2015-12-20 02:20:55,"[0, 60]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 678399528077250560, 'id_str'...",81618,False,This made my day. 12/10 please enjoy https://t...,NaN,...,en,NaN,0.0,0.0,33405,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
27,NaN,NaN,2015-12-24 20:00:22,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 680115813882408961, 'id_str'...",2808,False,This is Ozzy. He woke up 2 minutes before he h...,NaN,...,en,NaN,0.0,0.0,956,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
28,NaN,NaN,2016-08-19 19:14:16,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2739,False,His name is Charley and he already has a new s...,NaN,...,en,NaN,NaN,NaN,414,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
29,NaN,NaN,2017-01-19 01:04:45,"[0, 53]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 821886054592552961, 'id_str'...",11931,False,This is Jimison. He was just called a good boy...,NaN,...,en,NaN,0.0,0.0,2519,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."